body {
    font-family: monospace;
}

header {
    text-align: center;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.left {
    width: 50%;
    float: left;
}
.right {
    width: 40%;
    height: 540px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

.container a {
    font-size: 25px;
}

.container a:hover {
    color: brown;
}